**Taller grupal de pre-procesamiento, integracion y limpieza de datos**



*   Paula Rojas
*   Diego Sandoval

*   Brian Sandoval

In [23]:
#1.	Realice la limpieza y adecuaci√≥n de la data (ACTOR_VIAL), para que quede lista, con los siguientes datos:
import pandas as pd
df = pd.read_excel("Siniestros_Viales_Consolidados_Bogota_DC.xlsx",sheet_name = "ACTOR_VIAL")
df.head(10)

   CODIGO_ACCIDENTE  CODIGO_ACCIDENTADO  ...             SEXO   VEHICULO
0           4401447             2452576  ...         FEMENINO  4401447-1
1           4401447             2452577  ...        MASCULINO  4401447-2
2           4401453             2452586  ...        MASCULINO  4401453-1
3           4401453             2452587  ...        MASCULINO  4401453-2
4           4401423             2452500  ...        MASCULINO  4401423-1
5           4401423             2452501  ...  SIN INFORMACION  4401423-2
6           4401420             2452504  ...        MASCULINO  4401420-1
7           4401420             2452505  ...        MASCULINO  4401420-2
8           4401423             2452508  ...         FEMENINO        NaN
9           4401429             2452514  ...        MASCULINO  4401429-1

[10 rows x 8 columns]

In [24]:
#a.	Eliminar columnas como CODIGO_ACCIDENTE, CODIGO_ACCIDENTADO y VEHICULO
dfs = df.drop(['CODIGO_ACCIDENTE', 'CODIGO_ACCIDENTADO', 'VEHICULO'], axis=1)
dfs.head(10)

        FECHA  CONDICION  ESTADO             EDAD             SEXO
0  01/01/2015  CONDUCTOR   ILESO               44         FEMENINO
1  01/01/2015  CONDUCTOR   ILESO               31        MASCULINO
2  01/01/2015  CONDUCTOR   ILESO               47        MASCULINO
3  01/01/2015  CONDUCTOR   ILESO               29        MASCULINO
4  01/01/2015  CONDUCTOR  HERIDO               44        MASCULINO
5  01/01/2015  CONDUCTOR   ILESO  SIN INFORMACION  SIN INFORMACION
6  01/01/2015  CONDUCTOR   ILESO               27        MASCULINO
7  01/01/2015  CONDUCTOR   ILESO               20        MASCULINO
8  01/01/2015     PEATON  HERIDO               19         FEMENINO
9  01/01/2015  CONDUCTOR   ILESO               36        MASCULINO

In [25]:
#b.	Filtrar el a√±o 2020
df_2020 = dfs.copy()
df_2020["FECHA"] = pd.to_datetime(dfs['FECHA'])
df_2020 = df_2020.query("FECHA >= '2020-01-01' and FECHA <='2020-12-31'")
df_2020.head(10)

            FECHA             CONDICION  ...             EDAD             SEXO
374078 2020-01-01             CONDUCTOR  ...               60        MASCULINO
374079 2020-01-01             CONDUCTOR  ...               27        MASCULINO
374080 2020-01-01             CONDUCTOR  ...               46        MASCULINO
374081 2020-01-01             CONDUCTOR  ...               31        MASCULINO
374082 2020-01-01             CONDUCTOR  ...               49        MASCULINO
374083 2020-01-01          MOTOCICLISTA  ...               20        MASCULINO
374084 2020-01-01  PASAJERO/ACOMPA√ëANTE  ...               21         FEMENINO
374085 2020-01-01             CONDUCTOR  ...               56        MASCULINO
374086 2020-01-01              CICLISTA  ...               62        MASCULINO
374087 2020-01-01             CONDUCTOR  ...  SIN INFORMACION  SIN INFORMACION

[10 rows x 5 columns]

In [26]:
df_2020.shape

(48338, 5)

In [27]:
#c.	Categorizar Condici√≥n
dfc = pd.get_dummies(df_2020, columns=["CONDICION"])
dfc.head(10)

            FECHA  ESTADO  ... CONDICION_PASAJERO/ACOMPA√ëANTE CONDICION_PEATON
374078 2020-01-01   ILESO  ...                              0                0
374079 2020-01-01   ILESO  ...                              0                0
374080 2020-01-01   ILESO  ...                              0                0
374081 2020-01-01   ILESO  ...                              0                0
374082 2020-01-01   ILESO  ...                              0                0
374083 2020-01-01  HERIDO  ...                              0                0
374084 2020-01-01  HERIDO  ...                              1                0
374085 2020-01-01   ILESO  ...                              0                0
374086 2020-01-01  MUERTO  ...                              0                0
374087 2020-01-01   ILESO  ...                              0                0

[10 rows x 9 columns]

In [28]:
#d.	Categorizar estado
dfc = pd.get_dummies(df_2020, columns=["ESTADO"])
dfc.head(10)

            FECHA             CONDICION  ... ESTADO_ILESO ESTADO_MUERTO
374078 2020-01-01             CONDUCTOR  ...            1             0
374079 2020-01-01             CONDUCTOR  ...            1             0
374080 2020-01-01             CONDUCTOR  ...            1             0
374081 2020-01-01             CONDUCTOR  ...            1             0
374082 2020-01-01             CONDUCTOR  ...            1             0
374083 2020-01-01          MOTOCICLISTA  ...            0             0
374084 2020-01-01  PASAJERO/ACOMPA√ëANTE  ...            0             0
374085 2020-01-01             CONDUCTOR  ...            1             0
374086 2020-01-01              CICLISTA  ...            0             1
374087 2020-01-01             CONDUCTOR  ...            1             0

[10 rows x 7 columns]

In [29]:
#e.	Edad, todos los datos num√©ricos
df_2020 = df_2020.drop(df_2020[df_2020['EDAD'] == "SIN INFORMACION"].index)
df_2020.head(10)

            FECHA             CONDICION  ESTADO EDAD       SEXO
374078 2020-01-01             CONDUCTOR   ILESO   60  MASCULINO
374079 2020-01-01             CONDUCTOR   ILESO   27  MASCULINO
374080 2020-01-01             CONDUCTOR   ILESO   46  MASCULINO
374081 2020-01-01             CONDUCTOR   ILESO   31  MASCULINO
374082 2020-01-01             CONDUCTOR   ILESO   49  MASCULINO
374083 2020-01-01          MOTOCICLISTA  HERIDO   20  MASCULINO
374084 2020-01-01  PASAJERO/ACOMPA√ëANTE  HERIDO   21   FEMENINO
374085 2020-01-01             CONDUCTOR   ILESO   56  MASCULINO
374086 2020-01-01              CICLISTA  MUERTO   62  MASCULINO
374088 2020-01-01                PEATON  HERIDO   42  MASCULINO

In [30]:
df_2020.shape

(47015, 5)

In [31]:
#f.	Categorizar sexo
dfc = pd.get_dummies(df_2020, columns=["SEXO"])
dfc.head(10)

            FECHA             CONDICION  ... SEXO_FEMENINO SEXO_MASCULINO
374078 2020-01-01             CONDUCTOR  ...             0              1
374079 2020-01-01             CONDUCTOR  ...             0              1
374080 2020-01-01             CONDUCTOR  ...             0              1
374081 2020-01-01             CONDUCTOR  ...             0              1
374082 2020-01-01             CONDUCTOR  ...             0              1
374083 2020-01-01          MOTOCICLISTA  ...             0              1
374084 2020-01-01  PASAJERO/ACOMPA√ëANTE  ...             1              0
374085 2020-01-01             CONDUCTOR  ...             0              1
374086 2020-01-01              CICLISTA  ...             0              1
374088 2020-01-01                PEATON  ...             0              1

[10 rows x 6 columns]

In [32]:
# g.    El orden de la data al final, debe ser:
#   i.  Fecha
#   ii. Condici√≥n
#   iii.    Edad
#   iv. Sexo
#   v.  Estado

df_2020 = df_2020[['FECHA','CONDICION','EDAD','SEXO','ESTADO']]
df_2020.head(10)

            FECHA             CONDICION EDAD       SEXO  ESTADO
374078 2020-01-01             CONDUCTOR   60  MASCULINO   ILESO
374079 2020-01-01             CONDUCTOR   27  MASCULINO   ILESO
374080 2020-01-01             CONDUCTOR   46  MASCULINO   ILESO
374081 2020-01-01             CONDUCTOR   31  MASCULINO   ILESO
374082 2020-01-01             CONDUCTOR   49  MASCULINO   ILESO
374083 2020-01-01          MOTOCICLISTA   20  MASCULINO  HERIDO
374084 2020-01-01  PASAJERO/ACOMPA√ëANTE   21   FEMENINO  HERIDO
374085 2020-01-01             CONDUCTOR   56  MASCULINO   ILESO
374086 2020-01-01              CICLISTA   62  MASCULINO  MUERTO
374088 2020-01-01                PEATON   42  MASCULINO  HERIDO